{% extends "index.html" %}
{% block konten %}
<style>
    .subtitle {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    .table-grid {
        border: 1px solid black;
    }

    .table-grid td {
        padding: 1px;
        border: 1px solid black;
    }
    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden; }

    .box-image {
      padding: 20px;
    }

    table, th, td {
      border: 1px solid black;
    }
    table {
      width: 100%;
      height: 50px;
      border-collapse: collapse;
    }

</style>

<div class="container">
  <div class="col s12 right-align">
    <a class="waves-effect waves-light btn blue darken-1" href="#">Simpan</a>
    <a class="waves-effect waves-light btn red darken-1" href="#">Batal</a>
  </div>
  <div class="row">
      <!-- <h5>Detail Gambar</h5> -->
      <!-- <table class="highlight">
        <tbody>
          <tr>
            <th>Kelas :</th>
            <th>{{ data['kelas'] }}</th>
          </tr>
        </tbody>
      </table> !-->
      <!-- <table class="fixed">
        <col width="60px" />
        <col width="60px" />
        <col width="60px" />
          <tbody>
          <tr>
            <th>Normal:</th>
            <th>Grayscale:</th>
            <th>Threshold:</th>
          </tr>
            <tr>
              <td style="text-align: center; vertical-align: middle;"><img class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['image_ori']}}" alt="gambar_asli"></td>
              <td style="text-align: center; vertical-align: middle;"><img class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_gray']}}" alt="gambar_grayscale"></td>
              <td style="text-align: center; vertical-align: middle;"><img class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_threshold']}}" alt="gambar_threshold"></td>
            </tr>
          <tr>
            <th>Resize:</th>
            <th>Biner:</th>
          </tr>
            <tr>
              <td style="text-align: center; vertical-align: middle;"><img class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_resize']}}" alt="gambar_resize"></td>
              <td style="text-align: center; vertical-align: middle;"><img class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_biner']}}" alt="gambar_biner"></td>
            </tr>
          </tbody>
      </table> -->
    <h3>Hasil Pelatihan</h3>
      <!-- <h5 style="margin-top: 50px;">Nilai Citra</h5> -->
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Citra Asli :  </span></div>
            <div class="collapsible-body">
              <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['image_ori']}}" alt="gambar_grayscale"></div>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Citra Asli :  </span></div>
                  <div class="collapsible-body">
                      <div style="width:100%">
                        <table>
                          <tbody>
                            {% for i in data['matrix_ori'] %}
                              <tr>
                                {% for a in i %}
                                  <td>
                                    {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }}
                                  </td>
                                {%endfor%}
                              </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                  </div>  
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Citra Grayscale :  </span></div>
            <div class="collapsible-body">
              <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_gray']}}" alt="gambar_grayscale"></div>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Citra Grayscale :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;overflow: scroll">
                      <table>
                        <tbody>
                          {% for i in data['matrix_gray'] %}
                            <tr>
                              {% for a in i %}
                                <td>
                                  <!-- {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }} -->
                                  {{ a|int }}
                                </td>
                              {%endfor%}
                            </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Citra Threshold :  </span></div>
            <div class="collapsible-body">
              <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_threshold']}}" alt="gambar_grayscale"></div>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Citra Threshold :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%; overflow: scroll">
                      <table>
                        <tbody>
                          {% for i in data['matrix_threshold'] %}
                            <tr>
                              {% for a in i %}
                                <td>
                                  <!-- {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }} -->
                                  {{ a|int }}
                                </td>
                              {%endfor%}
                            </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Nilai Citra Biner :  </span></div>
            <div class="collapsible-body">
              <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_biner']}}" alt="gambar_grayscale"></div>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Citra Biner :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;overflow: scroll">
                      <table>
                        <tbody>
                          {% for i in data['matrix_biner'] %}
                            <tr>
                              {% for a in i %}
                                <td>
                                  <!-- {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }} -->
                                  {{ a|int }}
                                </td>
                              {%endfor%}
                            </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Nilai Image Centroid Zone :  </span></div>
            <div class="collapsible-body">
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Koordinat Centroid Citra :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['koordinat_centroid_citra'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Centroid i :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_centroid_i'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Centroid j :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_centroid_j'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Fitur Zona 1 :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_fitur_zona1'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Fitur Zona 2 :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_fitur_zona2'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Fitur Zona 3 :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_fitur_zona3'] }}
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Fitur Zona 1,2,3 :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;">
                      {{ data['nilai_fitur_zona123'] }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Nilai Ekstraksi Fitur :</div>
            <div class="collapsible-body">
              <div style="width:100%;overflow: scroll">
              <table>
                <tbody>
                    <tr>
                      <td>
                        {{ data['matrix_vektor'] }}
                        </td>
                    </tr>
                </tbody>
              </table>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Nilai Vektor :</div>
            <div class="collapsible-body">
              <div style="width:100%;overflow: scroll">
                <table>
                  <tbody>
                    <tr>
                      {% for a in data['vektor']  %}
                        <td>
                          <!-- {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }} -->
                          {{ a|int }}
                        </td>
                      {%endfor%}
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Hasil Pelatihan SVM (Nilai alpha) : <span class="badge">Iterasi ke- {{  data['pelatihan_svm'][2] }} </span></div>
            <div class="collapsible-body">
              <div style="width:100%;overflow: scroll">
                <table>
                  <tbody>
                      <tr>
                        {% for a in data['pelatihan_svm'][0]  %}
                          <td>
                            {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }}
                            <!-- {{ a }} -->
                          </td>
                        {%endfor%}
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Hasil Pelatihan SVM (Nilai b) :</div>
            <div class="collapsible-body">
              <div style="width:100%;overflow: scroll">
                <table>
                  <tbody>
                      <tr>
                        <td>
                          {{ data['pelatihan_svm'][1] }}
                          </td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        </ul>
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

{%endblock%}