{% extends "index.html" %}
{% block konten %}
<style>
    .subtitle {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    .table-grid {
        border: 1px solid black;
    }

    .table-grid td {
        padding: 1px;
        border: 1px solid black;
    }

    
    table, th, td {
      border: 1px solid black;
    }
    table {
      width: 100%;
      height: 50px;
      border-collapse: collapse;
    }
</style>

<div class="container">
    <div class="col s12 right-align">
      <a class="waves-effect waves-light btn blue darken-1" href="#">Simpan</a>
      <a class="waves-effect waves-light btn red darken-1" href="#">Batal</a>
    </div>
    <div class="row">
        <h5>Hasil Pengenalan</h5>
    
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">Citra Asli : <span class="badge"> {{  data['shape_oriuji'] }} Piksel</span> </div>
                <div class="collapsible-body">
                    <img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{ data['image_oriuji']}}" alt="gambar_asli" style="max-width: 950px;">
                </div>
            </li>
            <li>
                <div class="collapsible-header">Citra Grayscale : <span class="badge"> {{  data['shape_gray'] }} Piksel</span></div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_gray_uji']}}" alt="gambar_grayscale" style="max-width: 950px;"></div>
            </li>
            <li>
                <div class="collapsible-header">Citra Threshold : <span class="badge"> {{  data['shape_thresh'] }} Piksel</span></div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_thresh_uji']}}" alt="gambar_threshold" style="max-width: 950px;"></div>
            </li>
            <li>
                <div class="collapsible-header">Citra Hasil Segmentasi Baris : <span class="badge">{{  data['shape_baris'] }} Baris</span></div>
                <div class="collapsible-body">
                    {% for i in range(data['max_segbaris']) %}
                    {% set name = 'segmentasi_baris' + i|string + '.jpg' %}
                        <img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{name}}" alt="gambar_baris" style="max-width: 950px;">
                        <hr>
                        <br>
                    {% endfor %}
                </div>
            </li>
            <li>
                <div class="collapsible-header">Citra Hasil Segmentasi Kata : <span class="badge">{{  data['shape_kata'] }} Piksel</span></div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_kata']}}" alt="gambar_kata" style="max-width: 950px;"></div>
            </li>
            <li>
                <div class="collapsible-header">Citra Hasil Segmentasi Huruf : <span class="badge">{{  data['shape_huruf'] }} Piksel</span></div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_huruf']}}" alt="gambar_huruf" style="max-width: 950px;"></div>
            </li>
            <li>
                <div class="collapsible-header">Citra Resize : <span class="badge"> {{  data['shape_resizethresholduji'] }} Pixel</span></div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_resizeuji']}}" alt="gambar_resize" style="max-width: 950px;"></div>
            </li>
            <!-- <li>
                <div class="collapsible-header">Citra Biner : </div>
                <div class="collapsible-body"><img class="box-image" src="{{ url_for('static', filename='image/data_uji/') }}{{data['image_biner_uji']}}" alt="gambar_biner" style="max-width: 950px;"></div>
            </li> -->
            <li>
                <div class="collapsible-header">Citra Hasil Ekstraksi Fitur :</div>
                <div class="collapsible-body">[...]</div>
            </li>
            <li>
                <div class="collapsible-header">Hasil Pengenalan karakter (OCR) :</div>
                <div class="collapsible-body">[...]</div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

{%endblock%}