{% extends "index.html" %}
{% block konten %}
<style>
    .subtitle {
        margin-top: 10px !important;
        margin-bottom: 0px !important;
    }

    .table-grid {
        border: 1px solid black;
    }

    .table-grid td {
        padding: 1px;
        border: 1px solid black;
    }
    table.fixed { table-layout:fixed; }
    table.fixed td { overflow: hidden; }

    .box-image {
      padding: 20px;
    }

    table, th, td {
      border: 1px solid black;
    }
    table {
      width: 100%;
      height: 50px;
      border-collapse: collapse;
    }

</style>

<div class="container">
    <div class="col s12 right-align">
        <a class="waves-effect waves-light btn blue darken-1" href="#">Simpan</a>
        <a class="waves-effect waves-light btn red darken-1" href="#">Cancel</a>
    </div>
    <div class="row"><br>
        <center><h1>Hasil Prediksi : {{data['label'][data['index']]}}</h1></center><br>
        <h5 style="margin-top: 50px;">Nilai Citra Hasil Uji Karakter</h5>
        <ul class="collapsible">
            <li>
              <div class="collapsible-header">Citra Asli : <span class="badge"> {{  data['shape_orikarakter'] }} Piksel</span></div>
              <div class="collapsible-body">
                <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['image_oriujikarakter']}}" alt="gambar_asli"></div>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">Nilai Citra Asli :  </span></div>
                    <div class="collapsible-body">
                        <div style="width:100%">
                          <table>
                            <tbody>
                              {% for i in data['matrix_ori'] %}
                                <tr>
                                  {% for a in i %}
                                    <td>
                                      {{ ((a|string)[1:-1]).replace(",","</td><td>")|safe }}
                                    </td>
                                  {%endfor%}
                                </tr>
                              {%endfor%}
                            </tbody>
                          </table>
                        </div>
                    </div>  
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Citra Grayscale : <span class="badge"> {{  data['shape_graykarakter'] }} Piksel</span></div>
              <div class="collapsible-body">
                <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_grayujikarakter']}}" alt="gambar_grayscale"></div>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">Nilai Citra Grayscale :  </span></div>
                    <div class="collapsible-body">
                      <div style="width:100%;overflow: scroll">
                        <table>
                          <tbody>
                            {% for i in data['matrix_grayujikarakter'] %}
                              <tr>
                                {% for a in i %}
                                  <td>
                                    {{ a|int }}
                                  </td>
                                {%endfor%}
                              </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
            <div class="collapsible-header">Citra Threshold : <span class="badge"> {{  data['shape_threshkarakter'] }} Piksel</span></div>
            <div class="collapsible-body">
              <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_thresholdkarakter']}}" alt="gambar_threshold"></div>
              <ul class="collapsible">
                <li>
                  <div class="collapsible-header">Nilai Citra Threshold :  </span></div>
                  <div class="collapsible-body">
                    <div style="width:100%;overflow: scroll">
                      <table>
                        <tbody>
                          {% for i in data['matrix_thresholdkarakter'] %}
                            <tr>
                              {% for a in i %}
                                <td>
                                  {{ a|int }}
                                </td>
                              {%endfor%}
                            </tr>
                          {%endfor%}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Citra Resize : <span class="badge"> {{  data['shape_resizethreshold'] }} Piksel</span></div>
              <div class="collapsible-body">
                <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_resizekarakter']}}" alt="gambar_resize"></div>
                <ul class="collapsible">
                  <li>
                    <div class="collapsible-header">Nilai Citra Resize :  </span></div>
                    <div class="collapsible-body">
                      <div style="width:100%;overflow: scroll">
                        <table>
                          <tbody>
                            {% for i in data['matrix_resizethreshkarakter'] %}
                              <tr>
                                {% for a in i %}
                                  <td>
                                    {{ a|int }}
                                  </td>
                                {%endfor%}
                              </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Citra Biner : <span class="badge"> {{  data['shape_binerujikarakter'] }} Piksel</span></div>
                <div class="collapsible-body">
                  <div style="text-align: center; vertical-align: middle;"><img style="height: 100px; width: 100px;" class="box-image" src="{{ url_for('static', filename='image/data_latih/') }}{{data['filename_binerkarakter']}}" alt="gambar_biner"></div>
                  <ul class="collapsible">
                    <li>
                      <div class="collapsible-header">Nilai Citra Biner :  </span></div>
                      <div class="collapsible-body">
                        <div style="width:100%;overflow: scroll">
                          <table>
                            <tbody>
                              {% for i in data['matrix_binerkarakter'] %}
                                <tr>
                                  {% for a in i %}
                                    <td>
                                      {{ a|int }}
                                    </td>
                                  {%endfor%}
                                </tr>
                              {%endfor%}
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
            </li>
          <li>
          <li>
            <div class="collapsible-header">Nilai Ekstraksi Fitur :</div>
              <div class="collapsible-body">
                <div style="width:100%;overflow: scroll">
                <table>
                  <tbody>
                      <tr>
                        <td>
                          {{ data['matrix_vektor'] }}
                          </td>
                      </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Format Vektor :</div>
                <div class="collapsible-body">
                  <div style="width:100%;overflow: scroll">
                    <table>
                      <tbody>
                        <tr>
                          {% for a in data['vektor_uji_karakter']  %}
                            <td>
                              {{ a|int }}
                            </td>
                          {%endfor%}
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Nilai Hyperplane Terhadap Seluruh Kelas :</div>
              <div class="collapsible-body">
                <div style="width:100%;overflow: scroll">
                  <table>
                    <tbody>
                      <tr>
                        {% for a in data['nilai_hyperplane']  %}
                          <td>
                            {{ a }}
                          </td>
                        {%endfor%}
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header">Nilai Hyperplane Hasil Prediksi :</div>
                <div class="collapsible-body">
                  <div style="width:100%;overflow: scroll">
                    <table>
                      <tbody>
                          <tr>
                            <td>
                              {{ data['hyperplane'] }}
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

{%endblock%}