{% extends "index.html" %}
{% block konten %}

<style>
   #image-preview{
       display:none;
       max-width: 100%;
   }
</style>

<div>
<h3><center>OPTICAL CHARACTER RECOGNITION</center></h3>
<h4><center>Dokumen Karya Tulis Ilmiah</center></h4><br>
   <div class="container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            <div class="materialert error">
                  <div class="material-icons">Error! </div>
                  {{message}}
            </div>
         {% endfor %}
      {% endif %}
       {% endwith %}
      <h5>Masukkan Citra Dokumen (.jpg/.jpeg/.png) :</h5>
      <form method="post" action="hasil_testing"  enctype="multipart/form-data">
         <input type="hidden" name="type" value="single"/>
         <div class="file-field input-field">
            <div class="btn">
               <span>Browse</span></a>
            <input type="file" name="file" required id="image-source" onchange="previewImage();"/>
            </div>
            <div class="file-path-wrapper">
               <input class="file-path validate" type="text">
            </div>
         </div>
         <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Uji Citra</button>
         </div>
      </form>
      <center><h5>===== Preview Gambar =====</h5></center>
      <center><img id="image-preview" src="#" alt="Gambar Preview Akan Tampil Disini"/></center>
   </div>
</div>            

<script>
   function readURL(input) {
       if (input.files && input.files[0]) {
       var reader = new FileReader();
       
       reader.onload = function(e) {
           $('#blah').attr('src', e.target.result);
       }
       
       reader.readAsDataURL(input.files[0]);
       }
   }
   
   $("#imgInp").change(function() {
       readURL(this);
   });
   </script>
   
   <script>
   function previewImage() {
       document.getElementById("image-preview").style.display = "block";
       var oFReader = new FileReader();
           oFReader.readAsDataURL(document.getElementById("image-source").files[0]);
       
       oFReader.onload = function(oFREvent) {
           document.getElementById("image-preview").src = oFREvent.target.result;
       };
       };
   </script>
{%endblock%}
