<nav>
  <div class="nav-wrapper teal lighten-2">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="training">Pelatihan</a></li>
      <li><a href="/">Pengujian</a></li>
      <li><a href="testing">Pengujian Karakter</a></li>
    </ul>
  </div>

</nav>
