{% extends "index.html" %}
{% block konten %}

<style>
    #image-preview{
        display:none;
        max-width: 100%;
    }
</style>

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="materialert error">
        <div class="material-icons">Error! </div>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col m12">
            <h6>Uji karakter (.jpg/.jpeg/.png) :</h6>
            <form method="post" action="/testing_karakter" enctype="multipart/form-data">
                {{ csrf_token }}
                <input type="hidden" name="type" value="image"/>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file" required id="image-source" onchange="previewImage();"/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col s15">
                        <button class="btn waves-effect waves-light" type="submit">Uji Karakter</button>
                    </div>
                </div>
            </form>
        </div>
        <center><h5>===== Preview Gambar =====</h5></center>
        <center><img id="image-preview" src="#" alt="Gambar Preview Akan Tampil Disini"/></center>
    </div>
<!--    <hr>-->
<!--    <div class="row">-->
<!--        <div class="col m12">-->
<!--            <h6>Atau uji file citra (CSV) :</h6>-->
<!--            <form method="post" action="/testing_karakter" enctype="multipart/form-data">-->
<!--                {{ csrf_token }}-->
<!--                <input type="hidden" name="type" value="document"/>-->
<!--                <div class="file-field input-field">-->
<!--                    <div class="btn">-->
<!--                        <span>Browse</span>-->
<!--                        <input type="file" name="file" required>-->
<!--                    </div>-->
<!--                    <div class="file-path-wrapper">-->
<!--                        <input class="file-path validate" type="text">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row">-->
<!--                    <div class="col s15">-->
<!--                        <button class="btn waves-effect waves-light" type="submit">Tes Karakter</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>

<script>
function readURL(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
        $('#blah').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
    }
}

$("#imgInp").change(function() {
    readURL(this);
});
</script>

<script>
function previewImage() {
    document.getElementById("image-preview").style.display = "block";
    var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("image-source").files[0]);
    
    oFReader.onload = function(oFREvent) {
        document.getElementById("image-preview").src = oFREvent.target.result;
    };
    };
</script>
{%endblock%}