{% extends "index.html" %}
{% block konten %}

<style>
#image-preview{
    display:none;
    max-width: 100%;
}
</style>

<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
      {% for message in messages %}
        <div class="materialert error">
              <div class="material-icons">Error! </div>
              {{message}}
        </div>
      {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="row">
    <div class="col m12">
      <h6>Masukkan Citra Karakter Data Latih (.png) :</h6>
      <form method="post" action="/hasil_training"  enctype="multipart/form-data" >
            {{ csrf_token }}
<!--        <input type="hidden" name="type" value="single"/>-->
            <div class="file-field input-field">
              <div class="btn">
              <span>Browse</span>
              <input type="file" name="file"  id="image-source" onchange="previewImage();" required>
              </div>
              <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
               </div>
            </div>
        <h6>Kelas/label Karakter :</h6>
        <div class="input-field col s12">
            <select name="label1" required>
              <option value="" disabled selected>Pilih kelas citra:</option>
              <optgroup label="Angka">
               <option value='0'>0</option>
               <option value='1'>1</option>
               <option value='2'>2</option>
               <option value='3'>3</option>
               <option value='4'>4</option>
               <option value='5'>5</option>
               <option value='6'>6</option>
               <option value='7'>7</option>
               <option value='8'>8</option>
               <option value='9'>9</option>
             </optgroup>
              <optgroup label="Simbol">
               <option value='.'>titik</option>
               <option value=','>,</option>
               <option value=":">:</option>
               <option value=";">;</option>
               <option value='/'>/</option>
               <option value="[">[</option>
               <option value="]">]</option>
               <option value="%">%</option>
               <option value="*">*</option>
               <option value="'">'</option>
               <option value="(">(</option>
               <option value=")">)</option>
               <option value="?">?</option>
               <option value="!">!</option>
               <option value="#">#</option>
               <option value="+">+</option>
               <option value="-">-</option>
               <option value="=">=</option>
             </optgroup>
              <optgroup label="Huruf Kecil">
               <option value='a'>a</option>
               <option value='b'>b</option>
               <option value='c'>c</option>
               <option value='d'>d</option>
               <option value='e'>e</option>
               <option value='f'>f</option>
               <option value='g'>g</option>
               <option value='h'>h</option>
               <option value='i'>i</option>
               <option value='j'>j</option>
               <option value='k'>k</option>
               <option value='l'>l</option>
               <option value='m'>m</option>
               <option value='n'>n</option>
               <option value='o'>o</option>
               <option value='p'>p</option>
               <option value='q'>q</option>
               <option value='r'>r</option>
               <option value='s'>s</option>
               <option value='t'>t</option>
               <option value='u'>u</option>
               <option value='v'>v</option>
               <option value='w'>w</option>
               <option value='x'>x</option>
               <option value='y'>y</option>
               <option value='z'>z</option>
             </optgroup>
             <optgroup label="Huruf Kapital">
               <option value='A'>A</option>
               <option value='B'>B</option>
               <option value='C'>C</option>
               <option value='D'>D</option>
               <option value='E'>E</option>
               <option value='F'>F</option>
               <option value='G'>G</option>
               <option value='H'>H</option>
               <option value='I'>I</option>
               <option value='J'>J</option>
               <option value='K'>K</option>
               <option value='L'>L</option>
               <option value='M'>M</option>
               <option value='N'>N</option>
               <option value='O'>O</option>
               <option value='P'>P</option>
               <option value='Q'>Q</option>
               <option value='R'>R</option>
               <option value='S'>S</option>
               <option value='T'>T</option>
               <option value='U'>U</option>
               <option value='V'>V</option>
               <option value='W'>W</option>
               <option value='X'>X</option>
               <option value='Y'>Y</option>
               <option value='Z'>Z</option>
              </optgroup>
         </select>
        </div>
        <div class="row">
           <div class="col s15">
           <button class="btn waves-effect waves-light" type="submit">Latih Karakter</button>
           </div>
        </div>
      </form>
    </div>
    <center><h5>===== Preview Gambar =====</h5></center>
    <center><img id="image-preview" src="#" alt="Gambar Preview Akan Tampil Disini"/></center>
    <!-- <div class="col m4">
      <h6>Data yang sudah di Training :</h6>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header"><i class="material-icons">filter_drama</i></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">place</i></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">whatshot</i></div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
        </ul>
    </div> -->
  </div>
</div>

<script type="text/javascript">
   $(document).ready(function(){
     $('select').formSelect();
   });

   $(document).ready(function(){
    $('.collapsible').collapsible();
   });
</script>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    
    reader.onload = function(e) {
      $('#blah').attr('src', e.target.result);
    }
    
    reader.readAsDataURL(input.files[0]);
  }
}

$("#imgInp").change(function() {
  readURL(this);
});
</script>

<script>
function previewImage() {
    document.getElementById("image-preview").style.display = "block";
    var oFReader = new FileReader();
     oFReader.readAsDataURL(document.getElementById("image-source").files[0]);
 
    oFReader.onload = function(oFREvent) {
      document.getElementById("image-preview").src = oFREvent.target.result;
    };
  };
</script>
{%endblock%}
