{% extends "index.html" %}
{% block konten %}

<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="materialert error">
        <div class="material-icons">Error! </div>
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col m12">
            <h6>Masukan file yang akan diuji akurasinya (csv) :</h6>
            <form method="post" action="/uji_akurasi" enctype="multipart/form-data">
                {{ csrf_token }}
                <input type="hidden" name="type" value="image"/>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Browse</span>
                        <input type="file" name="file" required>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="row">
                    <div class="col s15">
                        <button class="btn waves-effect waves-light" type="submit">Cek Akurasi</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            Hasil: {{nilai}}
        </div>
        <div class="col m12">
            Tingkat Akurasi: ...
        </div>
    </div> 
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('select').formSelect();
    });

    $(document).ready(function () {
        $('.collapsible').collapsible();
    });
</script>
{%endblock%}